.mid_nav_course img {
  margin-top: -3.7rem;
  margin-left: 0.5rem;
}

.coll_p {
  width: 100%;
}
.top_div_course_a {
  font-size: 24px;
  text-decoration: none;
  color: #006dae;
  font-family: roboto condensed;
  font-weight: 800;
  text-align: center;

  display: block;


  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  width:fit-content;

margin: auto;
margin-top: 1rem;
  
}
.top_coll_div {
  width: fit-content;

}
.apply_mid_top {
  position: relative;

  width: fit-content;
  left: -2rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
margin-left: 1rem !important;
}


.mid_nav_course{
 
    display: block;
  

}
.collapsable_course{
    display: flex;
    margin: 0 !important;

}
.apply_mid_top{
    display: block;
    position: static;
    margin: 0 !important;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-left: 2rem;
    padding-right: 2rem ;
}
.mid_nav_top_course{
    display: flex;
    justify-content: space-between;
}
.navbarIcon_threeLines{
    display: none;
}
.study_course_a{
    display: none;
 
}
.bottom_res_nav{
    margin-top: 4rem;
}
.search_box_div_course{
background-image: url("	https://www.monash.edu/__data/assets/image/0009/2366289/angular-layers-blue-banner.jpg");
}
.search_box_div_course{
    padding-top: 7rem;
    padding-bottom: 10rem;
    background-position: center;
    background-size: cover;
background-repeat: no-repeat;
width: 100%;

}

.study_course_a_res{
    display: block !important;
    font-size: 21px;
    margin-top: 5rem !important;
    font-weight: 500;
    margin-bottom: 2rem;
}
.Explore_course{
    width: 99%;
    margin: auto;
    position: relative;
    top: -4rem;
    text-align: center;
 background: white;
 font-family: roboto ;
 font-size: 22px;
 padding-top: 7rem;
}
.Explore_course h1{
    font-size: 40px;
    font-family: roboto condensed;
}
.Explore_course p{
    margin-top: 1rem;
    width: 766px;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.view_courses{
    display: flex;
    flex-wrap: wrap;
gap: 1.2rem;

}
.viwe_all_courses_main h1{
font-size: 30.4px;
margin-bottom: 2rem;
font-family: roboto condensed;
}
.viwe_all_courses_main{
    width: 1140px;
    margin:auto;
}
.vc{
    width: 270px;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 2px grey;

}
.vc h3{
    font-size: 19.2px;
    font-family: "roboto condensed";
    color: #006dae;

}
.vc p{
    color: #505050;
    font-size: 15px;
    margin-top: 14px;
    font-family: roboto;
}

/* Ensure all main containers are hidden by default */

/* Display the active main-container */
#main-container1 {
  display: block; /* Show by default */
}

/* Title styles */
.title {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; /* Change cursor to pointer for clickable elements */
  margin-bottom: 10px; /* Add space between titles */
  text-align: center; /* Center align title text */
}

/* Child item styles */
.child, .child-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* Adjust height as needed */
  color: white; /* Text color for readability */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text */
  width:380px ;
  height: 160px;
  margin: auto;

}

.child h3, .child-item h3 {
  margin: 0;
  padding: 10px; /* Padding for readability */
font-family: "roboto";
font-weight: 400;
font-size: 24px;

}
.child:hover, .child-item:hover {
    text-decoration: underline;

    cursor: pointer;
    
}
.title{
    text-decoration: none;
    font-family: "roboto";
    transition: transform 0.3s ease;
    font-weight: 400;
    color: black;
}
.tolggler_divs{
    display: flex;
    text-decoration: none;
      overflow-x: auto;
      width: fit-content;
      margin:auto;
      gap:4rem;
      font-size: 20px;
      
      color: rgba(0, 0, 0, 0.444);
      margin-bottom: 2rem;
}


.title.active {
  color: black;
  text-decoration: underline;
  font-weight: 700;
}
#child1, #child2, #child3 {
  display: none;
 
}

/* Show active child section */
#child1.show, #child2.show, #child3.show {
  display: block;
  margin: auto;
  transition: 2s;
}
.main_contain{
    display: flex;
    flex-wrap: wrap;
gap: 1rem;
width: 70%;
margin: auto;
}
.under_task .icon{
    height: 32px;
    width: 32px;
    background-image: url("../assets/courseImg/sprites.svg");
    background-position: -4px -192px;
    background-repeat: no-repeat;

}
.under_task .icon::before{
    background-size: 752px 560px;
}
.major_tasks_main{
    display: flex;
    height: 158px;
    width: fit-content;
    margin: auto;
margin-bottom: 4rem;

    margin-top: 2rem;

border-bottom: 1px solid #006dae;
}
.under_task{
    height: 158px;
    width: 180px;
    align-content: center;

 
background: rgba(181, 181, 181, 0.145);
}
.under_task i{
    font-size: 2rem;
    color: #006dae;
    
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 2rem;

}
.under_task p{
    color: grey;
    font-family: roboto condensed;
    font-size: 1rem;
    text-align: center;
    

}.major_t h1{
    font-size: 30.4px;
    font-family: roboto condensed;
    margin-top: 48px;
    margin-bottom: 26px;
}
.major_t p{
    font-size: 16px;
    font-family: roboto;
    margin-bottom: 1rem;
}

.major_t{
    width: 1140px;
    margin: auto;
}
.see_all img{
width: 288px;
}
.see_all h3{
    font-size: 19px;
}
.last {
    width: 1140px;
    display: flex;
    margin: auto;
    margin-top: 2rem;
}
.last h3{
    font-size: 20px;
    width: 100%;
    margin: auto;
}
.last p{
    font-size: 14px;
    width: 100%;
    margin: auto;
}
.see_all{
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    margin-top: 2rem;
}
.see_all div,.see_all img{
    width: 555px;
}
.see_all h3{
    font-size: 24px;
    font-family: roboto condensed;
    color: #006dae;
    margin-left: 1rem;
    margin-top: 1rem;
}
.last img{
    width: 255px;
height: 161px;
}
.last h3{
    font-size: 20px;
    font-family: roboto condensed;
    color: #006dae;
    margin-bottom: 2rem;
}
.last div{
    padding: 1.5rem;


}
.last p{
    color: grey;
    font-size: 16px;
    font-family: roboto;
}
.last{
        margin-top: 3rem;
        margin-bottom: 3rem;
        box-shadow: 1px 1px 2px grey;
}
.last:hover{
    box-shadow: 1px 1px 5px grey;
}
.vc:hover{
    box-shadow: 1px 1px 7px grey;
}
.video-container{
    background: #000;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (max-width: 400px) {
 
}
@media only screen and (max-width: 1000px) 
{
    .collapsable_course{
        display: none;
    }
    .apply_mid_top{
        display: none;
    }
    .navbarIcon_threeLines{
        display: block;
    }
    .mid_nav_course img {
  margin-top: 0rem;
  margin-left: 0.5rem;
}
.top_div_course_a{
    display: none;
}
.study_course_a{
    display: block;
    font-size: 19.2px;
}
.search_box_div_course{
    padding-top: 5rem;
    padding-bottom: 5rem;


}
.Explore_course h1{
    font-size: 28px;
    font-family: roboto condensed;
}
.Explore_course p{
    width: 80%;
    font-size: 18px;
}
.Explore_course{
    top: 0;
    padding-top: 4rem;
}
.view_courses{
    display: block;
width: 320px;
    margin: auto;
}
.viwe_all_courses_main h1{
    width: fit-content;
    font-size: 24px;
    margin-left: 1rem;
}
.viwe_all_courses_main{
    width: 100%;
    margin: auto;
}
.vc{
    width: 288px;
    height: 125px;
    margin: auto;
    margin-bottom: 1rem;
}
.vc h3{
font-size: 17.6px;
}
.vc p{
    font-size: 14px;
}
.title{
    width: 100%;
}
 .title {
    flex: 1 0 100%;
    font-size: 14px;
margin-right: -8rem;
  }
  .tolggler_divs{
    gap: 1rem;
    width: 100%;
  }
  .child,.child-item{
    width: 155px;
    height: 80px;
    font-size: 18px;
    margin: 0;
  }
  .child-item h3{
font-size: 14px;
  }
  .child h3{
    font-size: 14px;
  }
  .main_contain{
gap: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;
  }
  .major_tasks_main{
    display: block;
    height: 100%;
  }
  .under_task{
    display: flex;
    height: 106.4px;
    width: 274px;
    
    align-content: center;
    align-items: center;
    gap: 1.3rem;
  }
  .under_task p{
    font-size:18px;

  }
  .under_task i{
    margin: 0;
    margin-left: 2rem;
  
    width: 32px;
    
    
  }
.major_t{
    width: 288px;

}
.major_t h1{
    font-size: 24px;
}
.major_t p{
    font-size: 14px;
}
.see_all img{
width: 288px;
}
.see_all h3{
    font-size: 19px;
}
.last {
    width: 288px;
}
.last h3{
    font-size: 20px;
    width: 240px;
    margin: auto;
}
.last p{
    font-size: 14px;
    width: 240px;
    margin: auto;
}
.last{
    display: block;

}
.last img{
    margin: 0;
    width: 288px;
}
.last div{
    padding: 0.5rem;
}
.last h3{
    margin-bottom: 1rem;
}
.see_all{
    display: block;
    width: 300px;
}
.see_all h3{
    width: 288px;
    font-size: 16px;
}
.see_all div{
    width: fit-content;
    margin-bottom: 2rem;
}
iframe{
    height: 150px;
    width: 288px;
}
.see_all div{
    margin: auto;
    margin-bottom: 2rem;
 
}
.see_all img{
    width: 100%;
}
}


@media only screen and (max-width: 320px) 
{
    .title{
    width: 100%;
}
 .title {
    flex: 1 0 100%;
    font-size: 14px;
margin-right: -6rem;
  }
  .tolggler_divs{
    gap: 1rem;
    width: 100%;
  }
  .child,.child-item{
    width: 140px;
    height: 80px;
    font-size: 18px;
  }
  .child-item h3{
font-size: 14px;
  }
  .child h3{
    font-size: 14px;
  }
  .main_contain{
gap: 0.5rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}
