.content_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}
.content_wrapper{
    max-width: 73.25rem;
    padding: 0 1rem;
}
.mid_nav_course img {
  margin-top: -3.7rem;
  margin-left: 0.5rem;
}

.coll_p {
  width: 100%;
}
.top_div_course_a {
  font-size: 24px;
  text-decoration: none;
  color: #006dae;
  font-family: roboto condensed;
  font-weight: 800;
  text-align: center;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  width:fit-content;
  margin: auto;
  margin-top: 1rem;
}
.top_coll_div {
  width: fit-content;
}
.apply_mid_top {
  position: relative;
  width: fit-content;
  left: -2rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
margin-left: 1rem !important;
}


.mid_nav_course{
 
    display: block !important;
  

}
.collapsable_course{
    display: flex;
    margin: 0 !important;

}
.apply_mid_top{
    display: block;
    position: static;
    margin: 0 !important;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-left: 2rem;
    padding-right: 2rem ;
}
.mid_nav_top_course{
    display: flex;
    justify-content: space-between;
}
.navbarIcon_threeLines{
    display: none;
}
.study_course_a{
    display: none;
 
}
.bottom_res_nav{
    margin-top: 4rem;
}
.search_box_div_course{
background-image: url("	https://www.monash.edu/__data/assets/image/0009/2366289/angular-layers-blue-banner.jpg");
}
.search_box_div_course{
    padding-top: 7rem;
    padding-bottom: 10rem;
    background-position: center;
    background-size: cover;
background-repeat: no-repeat;
width: 100%;

}

.study_course_a_res{
    display: block !important;
    font-size: 21px;
    margin-top: 5rem !important;
    font-weight: 500;
    margin-bottom: 2rem;
}
.Explore_course{
    width: 99%;
    margin: auto;
    position: relative;
    top: -4rem;
    text-align: center;
 background: white;
 font-family: roboto ;
 font-size: 22px;
 padding-top: 7rem;
}
.Explore_course h1{
    font-size: 40px;
    font-family: roboto condensed;
}
.Explore_course p{
    margin-top: 1rem;
    width: 766px;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.view_courses{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.viwe_all_courses_main h1{
font-size: 30.4px;
margin-bottom: 2rem;
font-family: roboto condensed;
}
.viwe_all_courses_main{
    margin:auto;
    max-width: 73.25rem;
    padding: 0 1rem;
}
.vc{
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 2px grey;
}
.vc h3{
    font-size: 19.2px;
    font-family: "roboto condensed";
    color: #006dae;

}
.vc p{
    color: #505050;
    font-size: 15px;
    margin-top: 14px;
    font-family: roboto;
}

/* Ensure all main containers are hidden by default */

/* Display the active main-container */
#main-container1 {
  display: block; /* Show by default */
}

/* Title styles */
.title {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; /* Change cursor to pointer for clickable elements */
  margin-bottom: 10px; /* Add space between titles */
  text-align: center; /* Center align title text */
}

/* Child item styles */
.child, .child-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* Adjust height as needed */
  color: white; /* Text color for readability */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text */
  width:330px ;
  height: 160px;
  margin: auto;
}
.child_div{
    overflow: hidden;
    width: 330px;
    height: 160px;
  margin: auto;
}
.child h3, .child-item h3 {
  margin: 0;
  padding: 10px; /* Padding for readability */
font-family: "roboto";
font-weight: 400;
font-size: 24px;

}
.child:hover, .child-item:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1) ;
    transform-origin: 50% 50%;
    transition: transform 0.7s ease;
}

.title{
    text-decoration: none;
    font-family: "roboto";
    transition: transform 0.3s ease;
    font-weight: 400;
    color: black;
}
.tolggler_divs{
    display: flex;
    text-decoration: none;
    overflow-x: auto;
    width: fit-content;
    margin:auto;
    gap:4rem;
    font-size: 20px;
    border-bottom: #b2b2b2 1px solid;  
    color: rgba(0, 0, 0, 0.444);
    margin-bottom: 2rem;
}
.title.active {
  color: black;
  text-decoration: underline;
  font-weight: 700;
}
#child1, #child2, #child3 {
  display: none;
}

/* Show active child section */
#child1.show, #child2.show, #child3.show {
  display: block;
  margin: auto;
  transition: 2s;
}
.main_contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: auto;
    max-width: 73.25rem;
    padding: 0 1rem;
}
.under_task .icon{
    height: 32px;
    width: 32px;
    background-image: url("../assets/courseImg/sprites.svg");
    background-position: -4px -192px;
    background-repeat: no-repeat;
}
.under_task .icon::before{
    background-size: 752px 560px;
}
.major_tasks_main{
    display: flex;
    height: 158px;
    width: fit-content;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
border-bottom: 1px solid #006dae;
}
.under_task{
    height: 158px;
    width: 180px;
    align-content: center;

 
background: rgba(181, 181, 181, 0.145);
}
.under_task i{
    font-size: 2rem;
    color: #006dae;
    
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 2rem;

}
.under_task p{
    color: grey;
    font-family: roboto condensed;
    font-size: 1rem;
    text-align: center;

}.major_t h1{
    font-size: 30.4px;
    font-family: roboto condensed;
    margin-top: 48px;
    margin-bottom: 26px;
}
.major_t p{
    font-size: 16px;
    font-family: roboto;
    margin-bottom: 1rem;
}

.major_t{
    margin: auto;
    max-width: 73.25rem;
    padding: 0 1rem;
}
.see_all img{
width: 288px;
}
.see_all h3{
    font-size: 19px;
}
.see_all a{
    text-decoration: underline;
    color: #006dae;
}

.see_all{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 2rem;
    max-width: 73.25rem;
    padding: 0 1rem;
}
.see_all div{
    width: 45vw;
    display: flex;
    flex-direction: column;
}
.see_all img{
    width: 90%;
}
.see_all h3{
    font-size: 24px;
    font-family: roboto condensed;
    color: #006dae;
    margin-top: 1rem;
    text-align: left;
}
.last img{
    width: 255px;
height: 161px;
}
.last h3{
    font-size: 20px;
    font-family: roboto condensed;
    color: #006dae;
    margin-bottom: 2rem;
}
.last div{
    padding: 1rem 1rem 1rem;
}
.last p{
    color: grey;
    font-size: 16px;
    font-family: roboto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    color: #505050;
    max-width: 115ch;
}
.last{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 1px 1px 2px grey;
    width: 100%;
}
.last:hover{
    box-shadow: 1px 1px 5px grey;
}
.vc:hover{
    box-shadow: 1px 1px 7px grey;
}
.video-container{
    background: #000;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px){
    .content_wrapper{
        max-width: 64rem;
        padding: 0;
        margin: 0;
    }
    .main_contain{
        padding: 0;
        margin: 0;
    }
    .child{
        width: 310px;
    }
    .last{
        margin: 2rem;
        max-width: 60rem;
    }
}
@media only screen and (max-width: 960px) 
{
    .content_wrapper{
        margin: 0 auto;
        max-width: 100%;
    }
    .collapsable_course{
        display: none;
    }
    .apply_mid_top{
        display: none;
    }
    .navbarIcon_threeLines{
        display: block;
    }
    .mid_nav_course img {
  margin-top: 0rem;
  margin-left: 0.5rem;
}
.top_div_course_a{
    display: none;
}
.study_course_a{
    display: block;
    font-size: 19.2px;
}
.search_box_div_course{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.Explore_course h1{
    font-size: 28px;
    font-family: roboto condensed;
}
.Explore_course p{
    width: 80%;
    font-size: 18px;
}
.Explore_course{
    top: 0;
    padding-top: 4rem;
}
.view_courses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.viwe_all_courses_main h1{
    width: fit-content;
    font-size: 24px;
    margin: 1rem;
}
.viwe_all_courses_main{
    width: 100%;
    padding: 20px;
}
.vc{
    width: 100%;
    height: 125px;
    margin: auto;
    margin-bottom: 1rem;
}
.vc h3{
font-size: 17.6px;
}
.vc p{
    font-size: 14px;
}
.title{
    width: 100%;
}
 .title {
    flex: 1 0 100%;
    font-size: 14px;
margin-right: -8rem;
  }
  .tolggler_divs{
    gap: 1rem;
    width: 100%;
  }
  .child_div{
    width:auto;
    
  }
  .child,.child-item{
    align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    overflow: hidden;
    padding: .3125rem;
    position: relative;
    width: 40vw;
    margin: 0;
  }
  .child-item h3{
    font-size: 18px;
  }
  .child h3{
    font-size: 18px;
  }
  .main_contain{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .major_tasks_main{
    display: block;
    height: 100%;
    width: 90%;
  }
  .under_task{
    display: flex;
    height: 106.4px;
    width: 100%;
    align-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 5px;
  }
  .under_task p{
    font-size:18px;

  }
  .under_task i{
    margin: 0;
    margin-left: 2rem;
    width: 32px;
  }
.major_t{
    width: 100%;
    padding: 20px;
}
.major_t h1{
    font-size: 24px;
}
.major_t p{
    font-size: 16px;
    font-family: roboto;
    color: #505050;
}

.see_all img{
width: 288px;
}
.see_all h3{
    font-size: 19px;
}

.last h3{
    font-size: 20px;
    margin: auto;
}
.last p{
    font-size: 14px;
    margin: 0.5rem;
    color:#505050;
}
.last{
    width: 90%;
    display: flex;
   
}
.last img{
    margin: 0;
    width: 288px;
}

.see_all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.see_all h3{
    font-size: 20px;
}
.see_all div{
    width: 90%;
    margin-bottom: 2rem;
}
.video-container{
    background: #000;
    width: 80%;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
iframe{
    height: 100%;
    width: 100%;
}
.see_all img{
    width: 100%;
}
}

@media only screen and (max-width: 600px){
    .view_courses{
        display: block;
    }
    .video-container{
        height: 300px;
    }
    .last{
        display: flex;
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .last img{
        width: 100%;
        height: 100%;
    }
    .title{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    /* .main_contain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    } */

    .child_div{
        height: 100px;
    }
    .child,.child-item{
        height: 100px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) 
{
 .title {
    flex: 1 0 100%;
    font-size: 12px;
margin-right: -6rem;
  }
  .tolggler_divs{
    gap: 1rem;
    width: 100%;
  }
  /* .child,.child-item{
    width: 140px;
    height: 80px;
    font-size: 18px;
  }
  .child-item h3{
font-size: 14px;
  }
  .child h3{
    font-size: 14px;
  }
  .main_contain{
    width: 100%;
    padding-right: 1rem;
  } */
  
}
