* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.footer{
scroll-margin-top: 60px;
background: #323232;
color: #d2d2d2;
display: block;
height: auto;
margin: 0 auto;
overflow: hidden;
padding: 0;
width: 100%;
}
.footer-wrapper{
display: block;
height: auto;
margin: 0 auto;
max-width: 1509px;
padding: 0 2rem;
width: 100%;
}
.footer-social{
color: #fff;
padding-top: 3rem;
text-align: center;
}
.footer-social-list{
list-style: none;
margin: 0;
padding: 0;
}
.footer-social-item{
display: inline-flex;
margin: 0 .875rem;
text-align: center;
vertical-align: middle;
}
.footer-social-item svg{
fill: #fff;
height: 23px;
width: 23px;
display: block;
margin: 0;
color: #fff;
}
.footer-info{
text-align: center;
}
.footer-info-wrapper{
display: block;
margin: 0 auto;
max-width: 900px;
overflow: hidden;
padding-top: .875rem;
width: 100%;
}
.footer-info-wrapper p{
color: #d2d2d2;
font-family: Roboto, sans-serif;
font-size: .8125rem;
font-weight: 400;
line-height: 1.6em;
padding: 0;
}
.footer-info-wrapper a{
color: #d2d2d2;

}
.footer-links{
display: block;
padding: 2rem 0;
}
.f-links-head{
border-top: 1px solid #505050;
max-height: 90px;
overflow: hidden;
transition: max-height .6s ease-out;
display: block;
}
.f-links-head[open]{
max-height: 320px;

}
.f-links-trigger{
display: block;
padding: .875rem .375rem;
}
.f-links-trigger h3{
align-items: center;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
width: 100%;
text-align: left;
color: #d2d2d2;
font-family: Roboto Condensed, sans-serif;
font-size: .9375rem;
font-weight: 700;
line-height: 1.2em;
margin: 0;
padding: 0;
text-transform: uppercase;
}
details.f-links-head[open] .f-links-icon {
transform: rotate(180deg);
}
.f-links-icon{
box-sizing: border-box;
color: #0000;
display: inline-block;
flex: 0 0 14px;
font-size: 0;
height: 14px;
line-height: 0;
margin-left: .625rem;
overflow: hidden;
position: relative;
transform-origin: center center;
transition: transform .2s ease-in-out;
width: 14px;

}
.f-links-icon::before{
border-color: #969696;
border-style: solid;
border-width: 0 0 2px 2px;
bottom: 3px;
box-sizing: border-box;
content: "";
display: block;
font-size: 0;
height: 10px;
line-height: 0;
margin: 2px;
overflow: hidden;
position: relative;
transform: rotate(-45deg);
width: 10px;
}
.f-links-content{
overflow: hidden;
padding: 0 .375rem .625rem;
}
.f-links-content ul {
display: block;
overflow: hidden;
padding: .375rem 0 0;
color: #d2d2d2;
list-style-type: none;
margin: 0;
font-weight: 400;
font-family: Roboto, sans-serif;
}
.f-links-content ul li{
display: block;
margin: 0;
padding: .375rem 0;
list-style-type: none;
color: #d2d2d2;
}
.f-links-content ul li a{
color: #fff;
text-decoration: none;
display: inline-flex;
font-family: Roboto, sans-serif;
font-size: .875rem;
font-weight: 400;
line-height: 1.2em;
}

.footer-legal{
display: block;
padding: .875rem 0;
}
.footer-legal-sec{
display: block;
margin: 2.375rem 0;
text-align: center;
}
.footer-legal-sec h3{
color: inherit;
font-family: Roboto Condensed, sans-serif;
font-size: .9375rem;
font-weight: 700;
line-height: 1.4em;
margin: 0;
padding: 0;
text-transform: uppercase;
}
.footer-legal-sec p{
line-height: 1.7em;
margin: 1em 0 0;
color: #d2d2d2;
font-family: Roboto, sans-serif;
font-size: .8125rem;
font-weight: 400;
}
.footer-legal-sec p a{
color: #d2d2d2;
}
.footer-utils{
display: block;
padding: .875rem 0 2rem;
text-align: center;
}
.footer-utils-list{
list-style: none;
margin: 0;
padding: 0;
}
.footer-utils-item{
color: #d2d2d2;
display: block;
margin: .625rem 0;
text-align: center;
list-style: none;
font-family: Roboto, sans-serif;
font-size: .8125rem;
font-weight: 400;
line-height: 1.2em;
}
.footer-utils-item a{
color: #d2d2d2;
text-decoration: none;
}
.copyright{
padding-top: 2.375rem;
text-align: inherit;
color: inherit;
font-family: Roboto, sans-serif;
font-size: .8125rem;
font-weight: 400;
line-height: 1.2em;
}
